{% extends "base.html" %}
    {% block content %}
    
    <div class="row">
        <div class="col-xs-12 col-lg-12">
        <h4>Добро пожаловать в интернет-магазин брандахлыстов!</h4>
        <p>
            Мы рады предложить Вашему вниманию широкий ассортимент шорьков, зелюков и мюмзиков.
            Здесь Вы сможете подобрать друга на свой вкус и цвет.
        </p>
        <p>
            Для совершения покупок, пожалуйста <a href="/accounts/login">авторизуйтесь</a> 
            или <a href="/accounts/register">зарегистрируйтесь</a>
        </p>

        </div>
    </div>
    {% endblock %}