{% extends "base.html" %}

{% block head %}
<title>Интернет-магазин брандахлыстов - Каталог</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "rebranch_catalog/css/style.css"%}">
<script type="text/javascript" src="{% static "rebranch_catalog/js/app.js"%}"></script>
<script type="text/javascript" src="{% static "rebranch_catalog/js/products.js"%}"></script>
<script type="text/javascript" src="{% static "rebranch_catalog/js/basket.js"%}"></script>
{% endblock%}

{% block nav %}
<ul id="main_menu" class="nav navbar-nav navbar-left">
    <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Категории
    <span class="caret"></span></a>
    <ul id="categories" class="dropdown-menu">
      <!-- Списсок категорий -->
    </ul>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    {% if not user.is_authenticated %} 
        <li id="exit"><a href="/accounts/login">Войти</a></li>
        <li id="exit"><a href="/accounts/register">Регистрация</a></li>
    {% else %}
        <li id="profile"><a href="#">{{user.username}}</a></li>
        <li id="basket"><a href="#">Корзина</a></li>
        <li id="logout"><a href="{% url "django.contrib.auth.views.logout" %}?next=/">Выйти</a>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="row">
    <strong>Тэги: </strong>
    <div id="tags" class="btn-group col-xs-12" data-toggle="buttons">
    </div>
</div>
<br>
<div class="row">
    <div class="well well-sm">
        <strong>Отобразить</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>Список</a> <a href="#" id="grid" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-th"></span>Плитка</a>
        </div>
    </div>
</div>
<div class="row">
    <div id="basket_dialog"></div>
    <div id="add_product_dialog"></div>
    <div id="order_status_dialog"></div>
    
    <div id="products" class="row list-group">
    </div>
    
</div>
{% endblock %}
