{% extends "base.html" %}
{% block content %}

<h4>Пожалуйста, авторизуйтесь!</h4>
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
  {{ form.as_table }}
</table>

<input type="submit" value="login" />
</form>

{% endblock %}