{% extends "base.html" %}
{% block content %}

  <h2>Регистрация</h2>

  <form action="/accounts/register/" method="post">{% csrf_token %}
    {{form.as_p}}
  <input type="submit" value="Отправить" />

  </form>

{% endblock %}