<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>


<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/black-tie/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% block head %}
<title>Интернет-магазин брандахлыстов</title>
{% endblock %}
</head>
<body>
  {% csrf_token %}
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/rebranch_catalog">Интернет-магазин брандахлыстов</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% block nav %}
          <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %} 
                <li id="exit"><a href="/accounts/login">Войти</a></li>
                <li id="exit"><a href="/accounts/register">Регистрация</a></li>
            {% else %}
                <li id="profile"><a href="#">{{user.username}}</a></li>
                <li id="logout"><a href="{% url "django.contrib.auth.views.logout" %}?next=/">Выйти</a>
            {% endif %}
          </ul>
          {% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
  </div>
</body>
</html>